@import '../../styles/colors.scss';

.wrapper {
  display: flex;

  margin: 5px;
  border-bottom: 1px solid $grey-100;
}

.category {
  height: 20px;
  width: 20px;
  border-radius: 5px;

  &-orange {
    background-color: $orange-300;
  }

  &-red {
    background-color: $red-300;
  }
}

.tags {
  display: flex;
}

.btn {
  &-more {
    height: 35px;
    width: 35px;
    background: none;
  }

  &_img {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 30px;
  }
}
