@import '../../styles/colors.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: $modal-color;
  margin: 5px 0;
}

.input {
  display: none;
}

.label {
  margin: 5px;
  display: block;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.input:checked + label {
  background-color: $blue-300;
}
