@import '../../styles/colors.scss';

.wrapper {
  display: flex;
  padding: 5px;
}

.input {
  display: none;
}

.label {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.input:checked + label {
  background-color: $modal-color;
}
