@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.wrapper {
  position: absolute;
  box-sizing: border-box;
  background-color: $background-color;
  padding-top: 30px;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
}
.header {
  text-align: center;
  margin: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 50%;
  position: relative;
  margin: 5px;

  & > input {
    background-color: $modal-color;
    border: none;
    width: 100%;
    color: white;
  }
}

.additional {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 0.5px solid $modal-color;

  &__item {
    & > input {
      display: none;
    }

    & > label {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;

      & > p {
        padding: 5px;
      }
    }
  }
}

.btn {
  border: none;

  &--close {
    background: none;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &--send {
    @include primary-font-400;
    background-color: $green-300;
    font-size: $fontXxs;
    color: #fff;

    border-radius: 0.3rem;
    padding: 10px 65px;
    margin: 20px;

    &:disabled {
      background-color: $green-200;
    }
  }
}

.img {
  box-sizing: border-box;
  background-color: $modal-color;
  height: 40px;
  padding: 8px;
  border-radius: 7px;

  &--active {
    border-radius: 10px;
    border: 1px solid $green-300;
  }
}

.undertext {
  &--active {
    color: $green-300;
  }
}
